.sendmsgcontainer {
    margin-top: 3rem;
    text-align: center;
}
.sendmsg {
    width:50rem;
    height:10rem;
    border-radius: 0.5rem;
}
.donemsg {
    height:10rem;
    width: 3rem;
    position: absolute;
    border-radius: 0.5rem;
    background-color: #fcfcfc;
    opacity:0.8;
}
.donemsg:hover {
    opacity:0.5;
}